.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 1s, opacity 1s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  color: #212121;
  line-height: 1;
}
.modal_is-opened {
  visibility: visible;
  transition: visibility 0s linear 0s, opacity 1s linear;
  opacity: 1;
}

.modal__container {
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  right: 50px;
  top: 28px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  opacity: 40%;
  border: none;
  padding: 0;
}

.modal__close-btn_image {
  right: -50px;
  top: 0;
  opacity: 1;
}

.modal__close-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__close-btn_image:hover {
  opacity: 40%;
}

.modal__input {
  width: 100%;
  margin: 8px 0 0;
  border: 1px solid #21212166;
  font-size: 20px;
  line-height: 1;
  padding: 16px 12px;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__input:hover {
  cursor: pointer;
  border-color: #212121;
}

.modal__save-btn {
  align-self: flex-start;
  background-color: #212121;
  color: #fcf5e5;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  width: 100%;
  max-width: 156px;
  border-radius: 8px;
  border: 0;
  padding: 18px 58px;
  border-radius: 8px;
}

.modal__save-btn:hover {
  cursor: pointer;
  opacity: 80%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input::placeholder {
  color: #2121214d;
  font-weight: 500;
}

.modal__image {
  max-height: 80vh;
  max-width: 80vw;
  min-width: 288px;
  margin: 0;
  border-radius: 8px;
}

.modal__preview {
  position: relative;
}

.modal__caption {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  max-width: fit-content;
  background-color: #212121;
  border-radius: 8px;
  margin: 8px 0 0;
}

@media screen and (max-width: 627px) {
  .modal__save-btn {
    max-width: none;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    top: 7px;
    right: 12px;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__close-btn_image {
    right: 0;
    top: -40px;
  }

  .modal_type_preview {
    max-width: unset;
  }
}
